
			
			.ls-layer p {
				padding: 0px 10px;				
				line-height: 40px;
				box-shadow: 0px 4px 10px -5px black;
				text-shadow: none;
				font-size: 22px;
				float:left;

			}
			.ls-layer h3, .ls-layer h1 { color:#fff; padding:5px 10px;}

			.l1-s1 {
				height: 110px;
				color: white;
				background: #0093d0;
				opacity: .90;
				filter: alpha(opacity=70);
				width: 650px;
				text-align: center;
			}
			
			.l2-s1 {
				color: white;
				background: #0093d0;
				opacity: .90;
				filter: alpha(opacity=60); 
				white-space: nowrap;
				left:0;
			}
			h1.l2-s1 { background:#ff9900; opacity: .76; filter: alpha(opacity=70); }
			
			.l3-s1 {
				width:440px;
				padding-bottom:12px;
				color: black;
				background: white;
				opacity: .90;
				box-shadow: 0px 4px 10px -5px black;

			}
			
			@media screen and (max-width: 1024px) {
			
			.ls-layer h1, .ls-layer h3 { left:0; margin-left:100px;}
			
			}