    <section id="hero" class="tbg1">

      <div id="layerslider-container-fw">

        <div id="layerslider" style="width: 100%; height: 461px; margin: 0px auto; ">

          <div class="ls-layer" style="slidedirection: top; slidedelay: 12000; durationin: 1500; durationout: 1500; delayout: 500;">
            <%= image_tag "hero-pic-home1.jpg", :class => "ls-bg" %>

            <h1 class="ls-s3" style="position: absolute; top:180px; left: 23%; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">Great things for boating</h1>
            <h3 class="ls-s3 l1-s1" style="position: absolute; top:240px; left: 33%; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">There is no better time to buy a boat and start enjoying countless adventures.  No matter if it is fishing or family fun we can get you started.</h3>

          </div>

          <div class="ls-layer" style="slidedirection: right; slidedelay: 7000; durationin: 1500; durationout: 1500;">
            <%= image_tag "hero-pic-home2.jpg", :class => "ls-bg" %>

            <h1 class="ls-s1 l2-s1" style="position: absolute; top:190px; left: 0; slidedirection : fade; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1500;">Manitou</h1>
            <h3 class="ls-s2 l2-s1" style="position: absolute; top:280px; left: 0; slidedirection : fade; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1000;">Pontoon Boats</h3>
            <h3 class="ls-s3 l2-s1" style="position: absolute; top:332px; left: 0; slidedirection : fade; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1500;">Manitou has changed the way pontoon boats should look on the water.</h3>
          </div>

          <div class="ls-layer" style="slidedirection: top; slidedelay: 7000; durationin: 1500; durationout: 1500; delayout: 500;">
            <%= image_tag "hero-pic-home3.jpg", :class => "ls-bg" %>

            <h1 class="ls-s1 l3-s1" style="position: absolute; top:224px; color:#63a405; left: 29%;slidedirection : fade; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1500;">Breezy Boat City</h1>
            <h3 class="ls-s2 l3-s1" style="position: absolute; top:300px; left: 29%; color:#000; slidedirection : bottom; slideoutdirection : top; durationin : 750; durationout : 750; easingin : easeOutBack; easingout : easeInBack; delayin : 1000;">No matter what or when.  It is time to be back on the water!</h3>
          </div>
        </div>
      </div>
      <div class="blox dark bluebox">
        <div class="container alignleft">
          <br>
          <div class="five columns v-shadow-l pad-r20">
            <h3>
              <strong>Welcome!</strong> <br />
              <small>Great things for boating...</small>
            </h3>
            <br />
            <p>
              At Breezy Boat City we  provide friendly, professional service for boaters.  We want to help you sell a boat, buy a boat, store a boat, service your boat or assist with any other unique boating needs.
            </p>
            <hr>
            <%= image_tag "p-vw2.png" %>
          </div>
          <div class="eleven columns alpha omega">
            <div class="row">
              <div class="five columns">
                <div class="columns magic">
                  <%= image_tag "s-h-ico1.png" %>
                  <h4>Consignments</h4>
                  <p>Nearly 50,000 pass our consignment lot each day. That means nearly 50,000 sales opportunities each day.
                  </p>
                  <a href="<%= boats_path %>" class="magicmore">Learn more</a>
                </div>
              </div>
              <div class="five columns">
                <div class="columns magic">
                  <%= image_tag "s-h-ico2.png" %>
                  <h4>Detailing</h4>
                  <p>Breezy Boat City specializes in taking oxidized boats and RV's and returning them to their original shine!
                  </p>
                  <a href="<%= page_path('services') %>" class="magicmore">Learn more</a>
                </div>
              </div>
            </div>
            <p>&nbsp;</p>
            <br class="clear">
            <div class="row">

              <div class="five columns">
                <div class="columns magic">
                  <%= image_tag "s-h-ico3.png" %>
                  <h4>Services</h4>
                  <p>We offer a variety of services for you to take advantage of. As always these services come with the highest level of customer service and quality you can expect from Breezy Boat City.
                  </p>
                  <a href="<%= page_path('services') %>" class="magicmore">Learn more</a>
                </div>
              </div>
              <div class="five columns">
                <div class="columns magic">
                  <%= image_tag "s-h-ico4.png" %>
                  <h4>Storage</h4>
                  <p>We have ample, safe, and secure storage for your boats and trailers.  As the seasons come and go, you can store your boat and/or trailer. Entry is controlled, and it is always lighted and safe.
                  </p>
                  <a href="<%= page_path('services') %>" class="magicmore">Learn more</a>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </section><!-- end-hero-->

    <section class="container home-content" >
      <p>&nbsp;</p>
      <div class="container column">
        <div class="promobox">
          <div class="row">
            <div class="eleven columns">
              <br>
              <h3>
                <strong>Our Professional Staff Is Ready To Help You!</strong>
              </h3>

              <p>
                We are providing a one stop shopping location for “great things for boats...” The company specializes in consignment sales, dry storage and trailer repair, but offers a variety of services that includes refurbishment, detailing and marine consulting.
              </p>

            </div>
            <div class="four columns omega">
              <p>&nbsp;</p>
              <div class="magic-link alignright">
                <a class="get shadow1" href="<%= contacts_path %>">Contact us today!</a><br class="clear" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <p>&nbsp;</p>

      <br class="clear" /><p>&nbsp;</p>
    </section>
