<section id="headline2">
  <div class="container">
    <h3>About Us</h3>
  </div>
</section>

<section class="container page-content" >
  <p>&nbsp;</p>
  <div class="columns" >
    <h3 class="magic">The weather is heating up!</h3>
    <h5>Now is a great time to buy a new or used boat.  Our team of professionals is here to help you with any and all of your boating needs.</h5>
  </div>
  <br class="clear">
  <p>&nbsp;</p>
  <div class="seven columns pad-r20 serv-big-pic" >
    <%= image_tag "hpic2.jpg" %>
  </div>
  <div class="eight columns v-shadow-r" >
    <div class="row magic">
      <h5 class="helvetic5">We Are Here for You!</h5>
      <p>Jan Hruska returned to the Pensacola area and established Breezy Boat City in 2010.  With several employees, our goal is to provide superior customer service and professional boat sales support.<br>
        We welcome consignments and refurbishment projects for personal use or resale.  We are providing a one stop shopping location for “great things for boats...” The company specializes in consignment sales, dry storage and trailer repair, but offers a variety of services that includes refurbishment, detailing and marine consulting.  </p>


    </div>
  </div>
</section>
<div class="blox bluebox">
  <div class="container alignleft">
    <h1 class="aligncenter">Meet Our Team</h1>
    <p>&nbsp;</p>
    <div class="one-third column our-team">
      <span class="s-team-man">
        <%= image_tag "man-q2.jpg" %>
      </span>
      <h3 >Jan Hruska</h3>
      <h5>Owner</h5>
      <div class="social-icons members">
        <a href="#" >
          <%= image_tag "social-icons/twitter.png" %>
        </a>
        <a href="#" >
          <%= image_tag "social-icons/facebook.png" %>
          <img src="images/social-icons/facebook.png" alt="">
        </a>
        <a href="#" >
          <%= image_tag "social-icons/linkedin.png" %>
        </a>
      </div><!-- end-social-icons-members -->
      <p class="alignleft">After years in aviation, Jan Hruska is now successfully tackling the boating world in Gulf Breeze. Opening Breezy Boat City, LLC in September 2010 was his way of “slowing down”. He has a personal love of pontoons but has developed a great respect for the whole world of boating. He is ready to help you with anything you’d need to make boating fun.</p>

    </div>
    <div class="one-third column our-team">
      <span class="s-team-man">
        <%= image_tag "man-q4.jpg" %>
      </span>
      <h3 >Stephanie Sroczynski</h3>
      <h5>Sales / Office Admin</h5>
      <div class="social-icons members">
        <a href="#" >
          <%= image_tag "social-icons/twitter.png" %>
        </a>
        <a href="#" >
          <%= image_tag "social-icons/facebook.png" %>
          <img src="images/social-icons/facebook.png" alt="">
        </a>
        <a href="#" >
          <%= image_tag "social-icons/linkedin.png" %>
        </a>
      </div><!-- end-social-icons-members -->
      <p class="alignleft">Stephanie has been with Breezy Boat City, LLC since May 2011. She has taken on the position of Office Manager and has created a smooth purchasing and selling experiences. With a concentration in business administration, she has brought structure, ease, and a modern touch to Breezy Boat City.</p>

    </div>
    <div class="one-third column our-team">
      <span class="s-team-man">
        <%= image_tag "man-q5.jpg" %>
      </span>
      <h3 >David St. Jean</h3>
      <h5>Sales / Service</h5>
      <div class="social-icons members">
        <a href="#" >
          <%= image_tag "social-icons/twitter.png" %>
        </a>
        <a href="#" >
          <%= image_tag "social-icons/facebook.png" %>
          <img src="images/social-icons/facebook.png" alt="">
        </a>
        <a href="#" >
          <%= image_tag "social-icons/linkedin.png" %>
        </a>
      </div><!-- end-social-icons-members -->
      <p class="alignleft">David St Jean came on as our Service Manager in the Fall of 2012. He has since brought our repair services to great heights. He has been servicing marine engines for 15 years. He is also known as our resident motor head because of his love for hot rods and muscle cars. </p>

    </div>
</div></div>
