<section id="headline2">
	<div class="container">
		<h3>Services</h3>
	</div>
</section>

<section class="container page-content" >

	<p>&nbsp;</p>
	<div class="row">
		<div class="eleven columns">

			<h1><strong>You name it, we do it! The weather's warming up, let us know how we can help.</strong></h1>
			<h4>We offer a variety of services for you to take advantage of. As always these services come with the highest level of customer service and quality you can expect from Breezy Boat City.</h4>

		</div>

	</div>
	<br class="clear">
	<p>&nbsp;</p>
	<div class="sixteen columns">
		<div class="title">
			<h4>major services</h4>
		</div>
	</div>
	<p>&nbsp;</p>
	<br class="clear">

	<div class="columns pad-l10">
		<div class="three columns serv-big-pic pad-l20">
			<img src="<%= image_path 'services-pic2.jpg' %>" alt=""><br>
			<h4><strong>Boat & Engine Repair</strong></h4>
			<p>Our experienced mechanics are ready to diagnose and repair any problems you may have. We can take care of normal scheduled maintenance or more in depth jobs. Our labor rates are the lowest in town. <br></p>
		</div>
	</div>
	<div class="columns pad-l10">
		<div class="three columns serv-big-pic pad-l20">
			<img src="<%= image_path 'services-pic1.jpg' %>" alt=""><br>
			<h4><strong>Trailer Repair</strong></h4>
			<p>Our experienced mechanics can provide a free trailer inspection including rolling gear and lights.  We provide a quick turn-around of services depending upon your needs.  We have gantry supports for safe removal and return of your boats on and off of your trailer. <br></p>
		</div>
	</div>
	<div class="columns pad-l10">
		<div class="three columns serv-big-pic pad-l20">
			<img src="<%= image_path 'services-pic3.jpg' %>" alt=""><br>
			<h4><strong>Boat Storage</strong></h4>
			<p>We have ample, safe, and secure storage for your boats and trailers.  As the seasons come and go, you can store your boat and/or trailer. Entry is controlled, and it is always lighted and safe. Discounts are available!<br><strong>Prices Start at $55.00</strong> </p>
		</div>
	</div>
	<div class="columns pad-l10">
		<div class="three columns serv-big-pic pad-l20">
			<img src="<%= image_path 'services-pic4.jpg' %>" alt=""><br>
			<h4><strong>Boat Detailing</strong></h4>
			<p>We will professionally clean your boat to your satisfaction. You will not find a better deal in the Gulf Breeze or Pensacola area. We use the safest marine products on the market to ensure the highest quality of work. <br></p>
		</div>
	</div>




	<div class="white-space"></div>

															</section><!-- container -->