<section id="headline2">
	<div class="container">
		<h3>Contact Us</h3>
	</div>
</section>
<section class="full-width">
	<div id="contact-map">
		<iframe width="100%" height="490" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=2816+Gulf+Breeze+Parkway++Gulf+Breeze,+FL+32563&amp;ie=UTF8&amp;hq=&amp;hnear=2816+Gulf+Breeze+Pkwy,+Gulf+Breeze,+Santa+Rosa,+Florida+32563&amp;gl=us&amp;t=p&amp;ll=30.38339,-87.106991&amp;spn=0.036281,0.008497&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;q=2816+Gulf+Breeze+Parkway++Gulf+Breeze,+FL+32563&amp;ie=UTF8&amp;hq=&amp;hnear=2816+Gulf+Breeze+Pkwy,+Gulf+Breeze,+Santa+Rosa,+Florida+32563&amp;gl=us&amp;t=p&amp;ll=30.38339,-87.106991&amp;spn=0.036281,0.008497&amp;z=14&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small><br /><small></small>
		<!-- END-Google Map -->
	</div><!-- END-contact Map -->
</section><!-- END-Google Map Section -->

<section class="container page-content" >

	<p>&nbsp;</p>
	<div class="five columns">
		<h3>Send us a message about whatever you like.</h3>
		<br>
		<p>Use the contact form to get in touch, and if you’re looking to hire us for a project, fill in as much detail about the project as you can.</p>
		<hr>

		<% if @boat %>
		<ul>
			<li><%= image_tag @boat.main_image.url(:medium) %></li>
			<li><%= @boat.brand %></li>
			<li><%= @boat.model %></li>
		</ul>
		<% end %>

		<h4>Contact Information:</h4>
		<br />
		<p><img src="<%= image_path 'social_address.png' %>" align="left" />&nbsp;<strong>Address:</strong></p>
		<p>
			2816 Gulf Breeze Parkway <br>Gulf Breeze, FL 32563</p>
			<br />
			<p><img src="<%= image_path 'social_phone.png' %>" align="left"  />&nbsp;&nbsp;<strong>Phone:</strong></p>
			<p>
				+ 1 (850) 934-6010<br />
			</p>
			<br />
			<p><img src="<%= image_path 'social_mail.png' %>" align="left"  />&nbsp;<strong>Email:</strong></p>
			<p>
				jan@breezyboatcity.com<br />
			</p>

		</div>

		<div class="seven columns">
			<div class="contact-form">
				<div class="clr"></div><br />

				<%= simple_form_for Contact.new, defaults: { input_html: { class: 'txbx' } }, html: { id: "frmContact" } do |f| %>

					<% if @boat %>
						<%= f.input_field :boat, as: :hidden, value: @boat.id %>
					<% end %>

					<h5>What's your name?</h5>
					<%= f.input_field :name %>
					<h5>What's your email?</h5>
					<%= f.input_field :email %>
					<h5>Email Subject?</h5>
					<%= f.input_field :email_subject %>
					<div class="erabox">
						<h5>Message to us</h5>
						<%= f.input_field :message, class: "tbx era" %>
						<%= f.button :submit, class: "sendbtn", id: "btnSend" %>
					</div>
					<div id="spanMessage"></div>
				<% end %>

			</div><!-- end-contact-form  -->

		</div>

	</div><!-- end-sidebar-->
	<div class="white-space"></div>
</section><!-- container -->