<p id="notice"><%= notice %></p>

<p>
  <b>Boat:</b>
  <%= @contact.boat %>
</p>

<p>
  <b>Name:</b>
  <%= @contact.name %>
</p>

<p>
  <b>Email:</b>
  <%= @contact.email %>
</p>

<p>
  <b>Email subject:</b>
  <%= @contact.email_subject %>
</p>

<p>
  <b>Message:</b>
  <%= @contact.message %>
</p>

<p>
  <b>Phone:</b>
  <%= @contact.phone %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
