<section id="headline2">
	<div class="container">
		<h3>Current Inventory</h3>
	</div>
</section>
<div class="white-space"></div>

<section class="container page-content" >
	<nav class="primary clearfix">

		<ul>
			<li><a href="#" class="selected" data-filter="*">All</a></li>
			<% for category in Category.all %>
				<li>
					<a class="" href="#" data-filter=".<%= category.slug %>"><%= category.name %></a>
				</li>
			<% end %>
		</ul>
	</nav>

	<div  class="portfolio">
<% for boat in @boats %>
		<div class="portfolio-item four columns entry <%= boat.category.slug %> -item">
			<a class="Single-Item"  href="<%= boat.main_image.url(:large) %>">
				<%= image_tag boat.main_image.url(:medium) %>

				<% if boat.is_sold %>
					<%= image_tag image_path("sold.png"), :id => "sold-overlay" %>
				<% end %>
				<span class="prt-img-hov-bg"></span>
			</a>
			<a href="<%= boat_url(boat) %>">
				<h5> <%= boat.brand %> </h5>
				<em> <%= boat.model %> </em>
			</a>
		</div>
<% end %>

	</div><!-- end-portfolio -->


	<div class="sixteen columns">
		<hr>
	</div>
<!-- 	<div class="pagination2 pagination2-centered">
		<ul>
			<li class="disabled"><a href="#">&laquo;</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">&raquo;</a></li>
		</ul>
	</div> -->
	<div class="white-space"></div>

</section><!-- container -->
