<section id="headline2">
  <div class="container">

  </div>
</section>

<section class="container page-content" >

  <div class="six columns">
    <%= image_tag @boat.main_image.url(:large), :id => "big-image-canvas" %>
    <% if @boat.is_sold %>
        <%= image_tag image_path("sold.png"), :id => "sold-overlay" %>
    <% end %>
  <% @boat.photos.each do |photo| %>
    <%= image_tag photo.pic.url(:large), :class => "thumbnail-click", :width => "90", :height => "90" %>
  <% end %>
  </div>
  <div class="nine columns" >

    <h5 class="helvetic5"><%= @boat.brand %></h5>
    <h4><%= @boat.model %></h4>
    <p><%= @boat.description %></p>
    <p><strong>Length Overall: </strong><%= @boat.length %></p>
    <p><strong>Beam: </strong><%= @boat.beam %></p>
    <p><strong>Weight: </strong> <%= @boat.weight %> lbs.</p>
    <p><strong>Engine: </strong><%= @boat.engine %></p>
    <p><strong>Engine Hours: </strong><%= @boat.engine_hours %></p>
    <p><strong>Hull Construction: </strong><%= @boat.hull_construction %></p>


    <a href="<%= contacts_path %>?boat_id=<%= @boat.id %>" class="magicmore">Price: <%= @boat.price %></a>

  </div>

  <div class="clear"></div>
  <p>&nbsp;</p>

  <br class="clear" /><p>&nbsp;</p>

</section><!-- container -->
