<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Breezy Boat City</title>

  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900|Oswald:300,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="wrap">
    <section id="top-head">
      <div class="container">
        <!-- <div class="top-links"><img src="images/ico-ad04.png" alt=""> <a href="#">Form</a> | <a href="#">Terms</a> | <a href="#">Contact</a></div> -->
        <div class="top-social">
          <a href="https://www.facebook.com/pages/Breezy-Boat-City/227092020636374">
            <%= image_tag "social-icons/facebook.png" %>
          </a>
          <a href="#">
            <%= image_tag "social-icons/twitter.png" %>
          </a>
          <a href="#">
            <%= image_tag "social-icons/youtube.png" %>
          </a>
          <a href="#">
            <%= image_tag "social-icons/linkedin.png" %>
          </a>
          <a href="#">
            <%= image_tag "social-icons/rss.png" %>
          </a>
        </div>
      </div>
    </section>
    <header id="header" class="container">
      <div class="four columns logo">
        <a href="<%= root_path %>">
          <%= image_tag "logo.png" %>
        </a>
        <br />
      </div>
      <nav id="nav-wrap" class="twelve columns">
        <ul id="nav">
          <li class="current">
            <a data-description="All Start here" href="<%= root_path %>">Home</a>
          </li>
          <li>
            <a data-description="Current Inventory" href="<%= boats_path %>">Our Boats</a>
            <ul>
              <li><a href="<%= boats_path %>">Manitou Pontoons</a></li>
              <li><a href="<%= boats_path %>">Used Boats</a></li>
              <li><a href="<%= boats_path %>">Sailboats</a></li>
              <li><a href="<%= boats_path %>">Paddleboards</a></li>
              <li><a href="<%= boats_path %>">Trailers</a></li>
              <li><a href="<%= boats_path %>">Boat Products</a></li>
            </ul>
          </li>
          <li><a data-description="What We Do"  href="<%= page_path('services') %>">Services</a>
            <ul>
              <li><a href="<%= page_path('services') %>">Boat & Engine Repair</a></li>
              <li><a href="<%= page_path('services') %>">Trailer Repair</a></li>
              <li><a href="<%= page_path('services') %>">Boat Storage</a></li>
              <li><a href="<%= page_path('services') %>">Boast Detailing</a></li>

            </ul>
          </li>
          <li><a data-description="Who Are We"  href="<%= page_path('about') %>">About</a></li>

          <li><a data-description="Get In Touch"  href="<%= contacts_path %>">Contact</a>

          </li>
        </ul>
      </nav>
      <!-- /nav-wrap -->
      <p>&nbsp;</p>
    </header><!-- end-header -->
    <%= yield %>
  </div>

 <!--  <section class="container" >
  </section> -->


  <footer id="footer">
    <div class="container footer-in">
      <div class="disclaimer four columns">
        <h4 class="subtitle">Disclaimer</h4>
        <br />
        <p>Information presented on this website is collected, maintained, and provided for the convenience of the user. While every effort is made to keep such information accurate and up-to-date. Under no circumstances will Breezy Boat City be liable for any actions taken or omissions made from reliance on any information contained herein from whatever source nor will Breezy Boats City be liable for any other consequences from any such reliance.
        </p>
        <br />
        <div class="copyright-txt">&nbsp; © 2013. All Rights Reserved.<br>
          <a href="#" class="terms">Terms of Service</a> | <a href="#" class="terms">Privacy Policy</a></div>
        </div><!-- Disclaimer -->


        <div class="four columns">
          <h4 class="subtitle">stay connected</h4>
          <br />
          <p class="twitt-txt">@<a href="https://twitter.com/breezyboatcity">breezyboatcity</a>
            <span id="twitter"></span>
          </p>
          <div class="socailfollow">
            <a href="#" class="facebook">
              <%= image_tag "social_facebook2.png" %>
            </a>
            <a href="#" class="twitter">
              <%= image_tag "social_twitter2.png" %>
            </a>
            <a href="#" class="dribble">
              <%= image_tag "social_dribble.png" %>
            </a>
            <a href="#" class="pinterest">
              <%= image_tag "social_pinterest.png" %>
            </a>
            <a href="#" class="vimeo">
              <%= image_tag "social_vimeo.png" %>
            </a>
            <a href="#" class="youtube">
              <%= image_tag "social_youtube.png" %>
            </a>
          </div>
        </div><!-- end-follow2 -->



        <div class="four columns">
          <h4 class="subtitle">Contact Information</h4>
          <br />
          <p>
            <%= image_tag "social_address.png" %>
            &nbsp;<strong>Address:</strong>
            <br />
            2816 Gulf Breeze Parkway Gulf Breeze, FL 32563
          </p>

          <p>
            <%= image_tag "social_phone.png" %>
            &nbsp;<strong>Phone:</strong>
            <br />
            + 1 (850) 934 6010<br />
          </p>

          <p>
            <%= image_tag "social_mail.png" %>
            &nbsp;<strong>Email:</strong>
            <br />
            jan@breezyboatcity.com<br />
          </p>
        </div><!-- end-contact2 -->
      </div><!-- end-footer-in -->
      <div class="footbot" >
        <div class="footer-navi">
          <a href="#">Home</a> | <a href="#">Boats</a> | <a href="#">Services</a> | <a href="#">About</a> | <a href="#">Contact</a>
        </div>
        <%= image_tag "logo-footer.png" %>
      </div><!-- end-footbot -->
    </footer>
    <!-- end-footer -->
    <span id="scroll-top"><a class="scrollup"></a></span>
  </div><!-- end-wrap -->
</body>
</html>
